.mapboxgl-ctrl, .mapboxgl-ctrl-group{
    display: none !important;
}

.map--offline,
.view-map--offline{
    display: none;
}

.map-placeholder__coords{
    margin-top: 6px;
    font-weight: 600;
    display: block;
}
