.toolbar{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;

    max-height: 95px;
    background-color: var(--white100);
    border-top: 0.5px solid var(--black025);

    padding-top: var(--space-4);
    padding-bottom: calc(var(--space-7) + var(--safe-bottom));
    padding-left: var(--space-4);
    padding-right: var(--space-4);
    height: calc(92px + var(--safe-bottom));
    z-index: 1;
}

.toolbar--fixed-main{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(92px + var(--safe-bottom));
    padding-bottom: calc(var(--space-7) + var(--safe-bottom));
    z-index: 9;
    transition: transform 0.15s ease;
    will-change: transform;
}

.lists-panel__toolbar {
        border-right: 0.5px solid var(--black025);
}



@media screen and (min-width: 768px) {

    .toolbar--fixed-main{
        max-width: 390px !important;
    }

    .toolbar--fixed-main{
        width: 100%;
    }

    .point_info_toolbar{
        width: 100%;
    }

    .lists-panel__toolbar {
        width: min(420px, 88vw);
    }
}
