@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

h1, h2, h3, h4, h5, h6,p,a,li,span,div,button, input, textarea{
    font-family: 'Inter', sans-serif;
}

h2{
    font-size: var(--space-6) !important;
    line-height: var(--space-7) !important;
    font-weight: 600;
    letter-spacing: -2%;
}

h3{
    font-size: var(--space-5) !important;
    line-height: var(--space-6) !important;
    font-weight: 600;
    letter-spacing: -2%;
}

p{
    font-size: var(--space-4) !important;
    line-height: var(--space-5) !important;
    letter-spacing: 0%;
}

button{
    font-size: var(--space-4);
    line-height: 120%;
    letter-spacing: 0%;
    font-weight: 500;
}

.caption{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: left;
    white-space: wrap;
}

.tac{
    text-align: center;
}

.fw500{
    font-weight: 500 !important;
}

.fw700{
    font-weight: 700 !important;
}

