<!--Add place sheet-->
<div class="sheet-backdrop" id="addSheetBackdrop" aria-hidden="true"></div>
<section class="sheet" id="addSheet" aria-hidden="true">
    <div class="sheet__content">
      <header class="sheet__header">
          <h2 class="prime-100" id="placeSheetTitle">New place</h2>
         <button class="btn_icon_ghost" type="button" id="sheetClose" aria-label="Закрыть шторку">
          <img src="{{ url_for('static', filename='img/icons/cross.svg') }}" alt="Close">
        </button>
        
      </header>

      <form id="placeForm" class="sheet__form">
        <input id="placeLat" name="lat" type="hidden">
        <input id="placeLng" name="lng" type="hidden">

        <!--Search-->
        <div class="field pdlr4" style="position: absolute; left: 0px; top: 86px; width: 100%; z-index: 100;">
          <button class="field__search" id="searchTrigger" type="button">
            <img src="{{ url_for('static', filename='img/icons/search.svg') }}" alt="" aria-hidden="true">
            <span class="field__search-label">Search place</span>
          </button>
        </div>

        <!--Map-->
        <div class="field">
          <div class="sheet-map-wrap" id="sheetMapWrap">
            <div id="sheetMap" class="sheet-map" role="presentation"></div>
            <div class="sheet-map__controls">

              <!--Fullscreen is broken. Back when it will be fixed-->
              <!--button
                type="button"
                class="btn_icon_label_primary_invert"
                id="sheetMapFullToggle"
                aria-label="На весь экран"
                data-icon-expand="{{ url_for('static', filename='img/icons/maximize.svg') }}"
                data-icon-collapse="{{ url_for('static', filename='img/icons/minimize.svg') }}"
              >
                <img src="{{ url_for('static', filename='img/icons/maximize.svg') }}" alt="" aria-hidden="true">
              </button-->
            </div>
          </div>
        </div>

        

        <div class="field pdlr4 hstack gap4 fs">
          <p class="prime-100 fw700" style="margin-top: var(--space-3); width: var(--space-10);">Name</p>
          <input name="title" id="placeTitle" type="text" placeholder="Point name">
        </div>

        <div class="field pdlr4 hstack gap4 fs">
          <p class="prime-100 fw700" style="margin-top: var(--space-3); width: var(--space-10);">Note</p>
          <textarea name="note" id="placeNote" rows="3" placeholder="Any note"></textarea>
        </div>

        <!--Photo is disabled in ver 1.0-->
        <!--div class="field pdlr4">
          <div class="field__row">
            <label class="field__label"  for="photosInput">Photos</label>
            <span class="field__hint">Up to 10 JPG/PNG, compressed to 2 MB</span>
          </div>
          <input id="photosInput" type="file" accept="image/jpeg,image/png" multiple>
          <div id="photoPreview" class="photo-preview"></div>
        </div-->


        <p class="form-error" id="formError" role="alert"></p>
        
        <div class="sheet__submit">
          <button class="btn_label_fill_primary" type="submit">Save point</button>
        </div>
      </form>

    </div>
</section>
