<!--Password sheet-->
<div class="sheet-backdrop" id="sharePasswordBackdrop" aria-hidden="true"></div>
<section class="sheet sheet--info" id="sharePasswordSheet" aria-hidden="true">
    <div class="sheet__handle"></div>
    <div class="sheet__content">
      <header class="sheet__header">
        <h2 class="prime100">Input password</h2>
        <button class="btn_icon_ghost" type="button" id="sharePasswordClose" aria-label="Закрыть шторку">
          <img src="{{ url_for('static', filename='img/icons/cross.svg') }}" alt="Close">
        </button>
      </header>
      <div class="share-password-content">

        <div class="hstack gap4">
            <input id="sharePasswordInput" type="password" placeholder="Password">


          <div class="share-password-actions hstack gap2">
            <button class="btn_icon_secondary" id="sharePasswordEdit" type="button">
              <img src="{{ url_for('static', filename='img/icons/pen.svg') }}" alt="Close">
            </button>

            <button class="btn_icon_secondary" id="sharePasswordDelete" type="button">
              <img src="{{ url_for('static', filename='img/icons/trash.svg') }}" alt="Close">
            </button>
          </div>
        </div>
        
      </div>
      <div class="sheet__submit">
        <button class="btn_label_fill_primary" id="sharePasswordDone" type="button">Done</button>
      </div>
    </div>
</section>
