<!--Place information-->
<div class="sheet-backdrop" id="viewSheetBackdrop" aria-hidden="true"></div>
<section class="sheet sheet--info" id="viewSheet" aria-hidden="true">
    <!--Toolbar-->
    <div class="toolbar point_info_toolbar">
        
        <span class="hstack w100 sb">
          
          <button class="btn_icon_ghost" id="viewEditBtn" type="button" title="Edit place">
            <img src="/static/img/icons/pen.svg" alt="Edit place">
          </button>
          <button class="btn_icon_ghost" id="viewShareBtn" type="button" title="Share List">
            <img src="/static/img/icons/share.svg" alt="Share">
          </button>
          <button class="btn_icon_ghost" id="viewOpenBtn" type="button" title="Add">
            <img src="/static/img/icons/forward.svg" alt="Add">
          </button>
          <button class="btn_label_stroke" id="view-cancel-btn" type="button" title="Cancel" style="display:none;">
            Cancel
          </button>
          <button class="btn_label_fill_primary" id="view-save-btn" type="button" title="Save" style="display:none;">
            Save
          </button>
        </span>
    </div>
    
    <div class="sheet__content">

      <!--Header-->
      <header class="sheet__header sheet__header--info">
        <h3 class="sheet__title" id="viewTitle">Untitled</h3>
        <button class="btn_icon_ghost" type="button" id="viewSheetClose" aria-label="Закрыть шторку">
          <img src="/static/img/icons/cross.svg" alt="Close">
        </button>
      </header>

      <!--Map-->
      <div id="viewMap" class="view-map" role="presentation"></div>

      <!--Point information-->
      <div class="sheet_info_information">


        <!--Place information-->
        <div class="sheet__section">
          <h3 class="sheet__value" id="viewMapLabel">43.23263, 76.95367</h3>
        </div>

        <div class="sheet__section">
          <p class="caption secondary-200">Address</p>
          <p class="sheet__value" id="viewAddress">43.23263, 76.95367</p>
        </div>

        <!--Description-->
        <div class="sheet__section">
          <p class="sheet__note" id="viewNote"></p>
        </div>

        <!--Details-->
        <!--div class="sheet__section" id="viewDetailsSection">
          <table class="info-table" id="viewDetailsTable">
            <tbody id="viewDetailsBody"></tbody>
          </table>
          <template id="viewDetailsRowTemplate">
            <tr class="info-table__row">
              <th scope="row" class="info-table__key"></th>
              <td class="info-table__value"></td>
            </tr>
          </template>
        </div-->

        <!--Photos later-->
        <!--div id="viewPhotos" class="photo-grid"></div-->
      </div>
    </div>

</section>
